


<?php /*


<div class="divider" id="<?= Config::get('about')?>"></div>  
<?php $this->renderPartial('about'); ?>

<div id="<?= Config::get('cv')?>"></div> 
<?php //$this->renderPartial('cv'); ?>

<div class="divider"></div>  
<section class="bg-3">
	<div class="col-sm-6 col-sm-offset-3 text-center">
		<h2 style="padding:20px;background-color:rgba(5,5,5,.8)">Réalisations</h2>
	</div>
</section>
  
<div class="divider" id="<?= Config::get('projects')?>"></div>
<?php $this->renderPartial('projects'); ?>

<div class="divider" id="<?= Config::get('contact')?>"></div> 
<?php $this->renderPartial('contact'); ?>

*/
?>


					<div class="container">
				


						<div class="row">
							<div class="12u">
								<!-- Portfolio -->
								<div id="<?= Config::get('solutions')?>">
									<?php $this->renderPartial('solutions'); ?>
								</div>  
							</div>
						</div>
						<div class="row">
							<div class="12u">

								<!-- Blog -->
								<div id="<?= Config::get('blog')?>">
									<?php $this->renderPartial('blog'); ?>
								</div>  
									
							</div>
						</div>
					</div>
				</div>