<!-- Blog -->
<section>
<header class="major">
	<h2>Actualités</h2>
</header>
<div class="row">


	<div class="6u 12u(mobile)">
		<section class="box">
			<a href="javascript:throw404();" class="image featured"><img src="<?= Image::Load("pic08.jpg"); ?>" alt="" /></a>
			<header>
				<h3><?= $this->posts[0]->title ?></h3>
				<p>Publié le <?= ToolsHelper::dateFormat($this->posts[0]->date_posted, 'd M Y') ?></p>
			</header>
			<p><?= $this->posts[0]->post ?></p>
			<footer>
				<ul class="actions" style="text-align:right">
					<li><a href="<?= PathHelper::url(array('c'=>'Blog','a'=>'show','id'=>$this->posts[0]->id))?>" class="button icon fa-file-text">Continuer la lecture</a></li>
					<li><a href="<?= PathHelper::url(array('c'=>'Blog','a'=>'show','id'=>$this->posts[0]->id))?>#disqus_thread" class="button alt icon fa-comment"><span class="disqus-comment-count" data-disqus-identifier="blog#<?=$this->posts[0]->id?>"></span></a></li>
				</ul>
			</footer>
		</section>
	</div>
	<div class="6u 12u(mobile)">
		<section class="box">
			<a href="javascript:throw404();" class="image featured"><img src="<?= Image::Load("pic09.jpg"); ?>" alt="" /></a>
			<header>
				<h3><?= $this->posts[1]->title ?></h3>
				<p>Publié le <?= ToolsHelper::dateFormat($this->posts[1]->date_posted, 'd M Y') ?></p>
			</header>
			<p><?= $this->posts[1]->post ?></p>
			<footer>
				<ul class="actions" style="text-align:right">
					<li><a href="<?= PathHelper::url(array('c'=>'Blog','a'=>'show','id'=>$this->posts[1]->id))?>" class="button icon fa-file-text">Continue Reading</a></li>
					<li><a href="<?= PathHelper::url(array('c'=>'Blog','a'=>'show','id'=>$this->posts[1]->id))?>#disqus_thread" class="button alt icon fa-comment"><span class="disqus-comment-count" data-disqus-identifier="blog#<?=$this->posts[1]->id?>"></span></a></li>
				</ul>
			</footer>
		</section>
	</div>
</div>
</section>
