<!-- Footer -->
<?php

// Pour que la section Actualités soit toujours alimentée
$posts = Collection::get('Post')->find(array(
	'orderBy' => 'date_posted DESC LIMIT 0,5'));

?>

<div id="footer-wrapper">
<section id="footer" class="container">
	<div class="row">
		<div class="8u 12u(mobile)">
			<section>
				<header>
					<h2>Dernières actualités</h2>
				</header>
				<ul class="dates">
				<?php foreach($posts as $key => $post) :
					$day = ToolsHelper::dateFormat($post->date_posted, 'd');
					$month = ToolsHelper::dateFormat($post->date_posted, 'M');
				?>
					<li>
						<span class="date"><?= $month ?> <strong><?= $day ?></strong></span>
						<h3><a href="javascript:throw404();"><?= $post->title ?></a></h3>
						<p><?= substr($post->post, 0, 80) . ' ...' ?></p>
					</li>
				<?php endforeach; ?>
				</ul>
			</section>
		</div>
		<div class="4u 12u(mobile)">
			<section>
				<header>
					<h2 id="<?= Config::get('contact') ?>">Contact</h2>
				</header>
				<ul class="social">
					<li><a class="icon fa-facebook" href="https://www.facebook.com/thecrowstudios.eu"  target="_blank"><span class="label">Facebook</span></a></li>
					<li><a class="icon fa-twitter" href="javascript:throw404();"><span class="label">Twitter</span></a></li>
					<li><a class="icon fa-dribbble" href="javascript:throw404();"><span class="label">Dribbble</span></a></li>
					<li><a class="icon fa-linkedin" href="javascript:throw404();"><span class="label">LinkedIn</span></a></li>
					<li><a class="icon fa-google-plus" href="javascript:throw404();"><span class="label">Google+</span></a></li>
				</ul>
				<ul class="contact">
					<li>
						<h3>Address</h3>
						<p>
							Untitled Incorporated<br />
							1234 Somewhere Road Suite<br />
							Nashville, TN 00000-0000
						</p>
					</li>
					<li>
						<h3>Mail</h3>
						<p><a href="mailto:contact@thecrowstudios.eu">contact@thecrowstudios.eu</a></p>
					</li>
					<li>
						<h3>Phone</h3>
						<p>(800) 000-0000</p>
					</li>
				</ul>
			</section>
		</div>
	</div>
	</div>
	<div class="row">
		<div class="12u">

			<!-- Copyright -->
				<div id="copyright">
					<ul class="links">
						<li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
						<li><a href="">Mentions légales</a></li>
						<li><?= Config::get('copyright') ?></li>
					</ul>
				</div>

		</div>
	</div>
</section>
</div>

