			<!-- Header -->
				<div id="header-wrapper">
					<div id="header">

						<!-- Logo -->
							<h1><a href="<?= PathHelper::url();?>">The Crow <img src="<?= Image::Load("logo100x100.png"); ?>" alt="" /> Studios.eu</a></h1>

						<!-- Nav -->
							<nav id="nav">
								<ul><?php $cname = $this->controller->name; ?>								
									<li <?php if($cname == 'Default') echo 'class="current"';?>><a href="<?= PathHelper::url();?>#<?=Config::get('solutions')?>">Solutions Web</a></li>
									<li <?php if($cname == 'Blog') echo 'class="current"';?>><a href="<?= PathHelper::url();?>#<?=Config::get('blog')?>">Actualités</a></li>
									<li><a href="<?= PathHelper::url();?>#<?=Config::get('contact')?>">Contact</a></li>
									<li><a href="javascript:throw404();">e-Boutique</a></li>
							<?php if(Session::isAuthenticated() && Session::get('user.id') != null) : ?>
									<li <?php if($cname == 'User') echo 'class="current"';?>><a href="<?= PathHelper::url(array('c'=>'user','a'=>'logout'))?>">Log out</a></li>
							<?php else : ?>
									<li <?php if($cname == 'User') echo 'class="current"';?>><a href="/backend/">Admin</a></li>
							<?php endif; ?>
								</ul>
							</nav>


			<?php
			if (Session::hasFlash()) : ?>
				<?php
					$lvl = Session::getFlashLevel();
					if($lvl = "success") $color="green";
					else if($lvl = "alert") $color="red";
					else if($lvl = "blue") $color="red";
					else $color="black";
				?>
				<div class="alert-box" style="color:<?= $alertColor ?>">
				  <?=Session::getFlash()?>
				</div>
			<?php
			endif;
			?>

			<?php
			if (Session::hasFlash()) : ?>
				<div class="alert alert-<?= Session::getFlashLevel() ?> alert-dismissible" role="alert">
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				  <strong><?= ucfirst(Session::getFlashLevel()) ?>!</strong> <?=Session::getFlash()?>
				</div>
			<?php
			endif;
			?>



							<?php 
							if($this->name == 'index')	:						
							?>
									<!-- Banner -->
									<section id="banner">
										<header>
											<h2>Bienvenue dans nos studios</h2>
											<p>&darr; La visite, c'est par ici &darr;</p>
										</header>
									</section>

								<!-- Intro -->
									<section id="intro" class="container">
										<div class="row">
											<div class="4u 12u(mobile)">
												<section class="first">
													<i class="icon featured fa-cog"></i>
													<header>
														<h2>Réparations</h2>
													</header>
													<p>Nisl amet dolor sit ipsum veroeros sed blandit consequat veroeros et magna tempus.</p>
												</section>
											</div>
											<div class="4u 12u(mobile)">
												<section class="middle">
													<i class="icon featured alt fa-flash"></i>
													<header>
														<h2>Conseil</h2>
													</header>
													<p>Nisl amet dolor sit ipsum veroeros sed blandit consequat veroeros et magna tempus.</p>
												</section>
											</div>
											<div class="4u 12u(mobile)">
												<section class="last">
													<i class="icon featured alt2 fa-star"></i>
													<header>
														<h2>Solutions Web</h2>
													</header>
													<p>Nisl amet dolor sit ipsum veroeros sed blandit consequat veroeros et magna tempus.</p>
												</section>
											</div>
										</div>
										<footer>
											<ul class="actions">
												<li><a href="javascript:throw404();" class="button big">Prendre contact</a></li>
												<li><a href="javascript:throw404();" class="button alt big">En savoir plus</a></li>
											</ul>
										</footer>
									</section>
								</div>
							<?php endif;?>
					</div>
				</div>
