		<div id="panel404" style="">
			<p onclick="close404()">
				<img src="<?= Image::Load('404.png') ?>" alt="Lien non fonctionnel">
			</p>
			<button onclick="close404()" class="button alt">Fermer</button>
		</div>