<?php
	$GitLabFeed = new GitLabFeed('https://git.framasoft.org/u/GTO.atom');
    $GitLabCommits = $GitLabFeed->commits;

    $lastBlogPost = Collection::get('Post')->find(array(
    	'offset' => 0,
    	'limit'  => 5,
    	'orderBy'=> 'date_posted DESC',
    ));
?>
	<div class="container-fluid">
	  	<div class="col-sm-10 col-sm-offset-1">
	      <h1>Social</h1>
	      <hr>
	    </div>
		<div class="row">
			<div class="col-sm-3 col-sm-offset-1">
				<h3 class="text-center">Git activity</h3>
		  <?php for($i=0; $i<3; $i++) :
		  			$commit =  $GitLabCommits[$i]; ?>		
					<div class="git-commit text-justify">
						<a href="<?=$commit->link?>"><?= $commit->title ?></a>
						<blockquote><?= $commit->summary ?></blockquote>
					</div> 
		  <?php endfor; ?>
			</div>
			<div class="col-sm-4">
				<h3 class="text-center">Last blog posts</h3>
		  <?php foreach ($lastBlogPost as $key => $post) : ?>
				<a href="<?=PathHelper::url(array('c'=>'blog','a'=>'show','id'=>$post->id))?>" class="text-justify"><?=$post->title?></a> 
				<blockquote>
					<p class="text-justify">
					</p>
				</blockquote>
		  <?php endforeach; ?>
			</div>
			<div class="col-sm-3">
				<h3 class="text-center">Last tweets</h3>
				<p class="text-justify">Etiam scelerisque arcu ac dapibus rhoncus. Morbi lacus ante, gravida id nibh vel, auctor dictum justo. Phasellus consequat nulla vitae blandit pretium. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed sagittis elementum sapien. Suspendisse nibh nunc, fermentum quis justo sit amet, tempus sollicitudin sapien. Nam mollis sollicitudin ante eget maximus. Praesent turpis eros, dictum ac nunc non, eleifend tempus quam.</p> 
			</div>
		</div>
	</div>