
									<section>
										<header class="major">
											<h2 id="<?=Config::get('solutions')?>">Nos Solutions</h2>
										</header>
										<?php
											$solutions = Collection::get('Solution')->find();
											$nbSol = count($solutions);
											$i=3;
											foreach ($solutions as $key => $s) :
												if ($i++ % 3 == 0) : ?>
										<div class="row">
											<?php endif;?>
											<div class="4u 12u(mobile)">
												<section class="box">
													<a href="javascript:throw404();" class="image featured"><img src="<?= $s->img_path ?>" alt="" /></a>
													<header>
														<h3><?=$s->title?></h3>
													</header>
													<p><?=$s->resume?></p>
													<footer>
														<a href="javascript:throw404();" class="button alt">En savoir plus</a>
													</footer>
												</section>
											</div>
										<?php if ($i % 3 == 0) : ?>
										</div>												
										<?php endif;
											endforeach;
										?>

									</section>