<div class="container">
            <div class="row">
              <div class="4u 12u(mobile)">

                <!-- Sidebar -->
                  <section class="box">
                    <a href="#" class="image featured"><img src="<?= Image::Load('pic09.jpg') ?>" alt="" /></a>
                    <header>
                      <h3>Sed etiam lorem nulla</h3>
                    </header>
                    <p style="text-align:justify">Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit  adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.</p>
                    <footer>
                      <a href="#" class="button alt">Magna sed taciti</a>
                    </footer>
                  </section>
              </div>
              <div class="8u 12u(mobile) important(mobile)">

                <!-- Content -->
                  <article class="box post">
                    <a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
                    <header>
                      <h2>Liste des téléchargements</h2>
                      <p></p>
                    </header>
                    <ol>
                    	<li>
                      <a href="/ftp/MozacBikeDay16_DirtComplet.zip">MozacBikeDay16_DirtComplet.zip</a>
                    	</li>
                    </ol>
                  </article>

              </div>
            </div>
          </div>
