
<div class="container">
            <div class="row">
              <div class="4u 12u(mobile)">

                <!-- Sidebar -->
                  <section class="box">
                    <a href="#" class="image featured"><img src="<?= Image::Load('pic09.jpg') ?>" alt="" /></a>
                    <header>
                      <h3>Sed etiam lorem nulla</h3>
                    </header>
                    <p>Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit  adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.</p>
                    <footer>
                      <a href="#" class="button alt">Magna sed taciti</a>
                    </footer>
                  </section>
              </div>
              <div class="8u 12u(mobile) important(mobile)">

                <!-- Content -->
                  <article class="box post">
                    <a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
                    <header>
                      <h2>Connexion</h2>
                      <p>Lorem ipsum dolor sit amet feugiat</p>
                    </header>
                    <p style="text-align:center">
                      <form method="POST" action="<?=PathHelper::url(array('c'=>'user','a'=>'login'))?>" onsubmit="encodePassword()">
                          <label for="email" >Identifiant ou e-mail</label>
                          <input type="email" name="email" placeholder="Email">
                          
                          <label for="password">Mot de passe</label>
                          <input id="password-input" type="password" name="password" placeholder="Mot de passe">

                          <label>
                            <input type="checkbox"> Se souvenir de moi
                          </label>

                          <br/>
                          <button type="submit" class="btn btn-default">Se connecter</button>
                      </form>
                    </p>
                  </article>

              </div>
            </div>
          </div>

          <script>
            function encodePassword() {
                var clean = $("#password-input").value();
            }
          </script>