<div class="row">
  	<div class="col-sm-10 col-sm-offset-1">
		<h3>Modifier un article</h3>
		<hr>

		<form method="POST" action="<?= PathHelper::url(array('c'=>'blog','a'=>'edit', 'id'=>$post->id))?>" class="form-horizontal col-sm-offset-1">
			<div class="form-group">
				<label for="title" class="col-sm-2 control-label">Titre</label>
				<div class="col-sm-8">
					<input class="form-control" name="title" placeholder="Titre de l'article"value="<?= $post->title ?>"> 
				</div>
			</div>
			<div class="form-group">
				<label for="tags" class="col-sm-2 control-label">Tags</label>
				<div class="col-sm-8">
					<input class="form-control" name="tags" placeholder="Saississez les tags séparés par un point-virgule (tag1;tag2;)" value="<?= $post->tags ?>"> 
				</div>
			</div>
			<div class="form-group">
				<label for="post" class="col-sm-2 control-label">Contenu</label>
				<div class="col-sm-8">
			    	<textarea class="form-control" name="post" rows="5" placeholder="Ecrivez votre article en Markdown"><?=$post->post?></textarea>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-default">Modifier</button>
				</div>
			</div>
		</form>
     
      	<div class="divider"></div>  
  	</div><!--/col-->
</div><!--/container-->