<?php
use \Michelf\Markdown;
?>
<div class="divider"></div> 
<?php if(Session::isAuthenticated() && Session::get('user.id') != null) : ?>
<div class="row">
  	<div class="col-sm-10 col-sm-offset-1">
		<a class="btn btn-success pull-left" href="<?=PathHelper::url(array('c'=>'blog','a'=>'add'))?>" role="button">
			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nouvel article
		</a>
  	</div>
 </div>
<?php endif;
foreach ($posts as $post) :
?>
<div class="row">
  	<div class="col-sm-10 col-sm-offset-1">
    <?php if(Session::isAuthenticated() && Session::get('user.id') != null) : ?>
		<a class="btn btn-danger  pull-right" href="<?=PathHelper::url(array('c'=>'blog','a'=>'delete','id'=>$post->id))?>" role="button">
			<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
		</a>
		<a class="btn btn-primary pull-right" href="<?=PathHelper::url(array('c'=>'blog','a'=>'edit','id'=>$post->id))?>" role="button">
			<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
		</a>
	<?php endif; ?>
		<h3><a href="<?= PathHelper::url(array('c'=>'blog','a'=>'show', 'id' => $post->id))?>"><?= $post->title ?></a></h3>
    	<hr>

	<div class="row">
	      <p class="text-justify"><?=Markdown::defaultTransform($post->post)?></p> 
      </div>
     
      <div class="divider"></div>
      
  	</div><!--/col-->
</div><!--/container-->
<?php
endforeach;
?>