<div class="row">
	<div class="1u"></div>
	<div class="10u">

	<!-- Blog -->
<section>
	<header class="major">
		<h2><?= $post->title ?></h2>
	</header>
		<section class="box">
			<p><?= $post->post ?></p>
			<p style="text-align: right">par <b><?=$user->username?></b> le <b><?=ToolsHelper::dateFormat($post->date_posted, 'd M Y')?></b></p>
		</section>

	</div>
	<div class="1u"></div>
</div>


<div class="row">
	<div class="1u"></div>
	<div class="10u">

		<div id="disqus_thread" class="box"></div>
		<script>
		    /**
		     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
		     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
		     */
		    /*
		    var disqus_config = function () {
		        this.page.url = '<?=Config::get("app.url")."/?c=blog&a=show&id=".$post->id ?>', 
		        this.page.identifier = 'blog#<?=$post->id?>',
		    };
		    */
		    (function() {  // DON'T EDIT BELOW THIS LINE
		        var d = document, s = d.createElement('script');
		        
		        s.src = '//thecrowstudios.disqus.com/embed.js';
		        
		        s.setAttribute('data-timestamp', +new Date());
		        (d.head || d.body).appendChild(s);
		    })();
		</script>
		<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

	</div>
	<div class="1u"></div>
</div>